@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
:root {
  --primary-50: #f5f3ff;
  --primary-100: #ede9fe;
  --primary-300: #c4b5fd;
  --primary-600: #7c3aed;
  --primary-900: #4c1d95;
  --secondary-50: #ecfeff;
  --secondary-100: #d5fafc;
  --secondary-300: #75e3ea;
  --secondary-600: #1db5be;
  --secondary-900: #2a4e51;
  --neutral-50: #f9fafb;
  --neutral-100: #f3f4f6;
  --neutral-200: #e5e7eb;
  --neutral-300: #d1d5db;
  --neutral-400: #9ca3af;
  --neutral-500: #6b7280;
  --neutral-600: #4b5563;
  --neutral-700: #374151;
  --neutral-800: #1f2937;
  --neutral-900: #111827;
  --white: #ffffff;
  --black: #000000;
  /* font style  */
  --fs-displayXL: 60px;
  --fs-displayLG: 48px;
  --fs-displayMD: 36px;
  --fs-displaySM: 30px;
  --fs-bodyLG: 18px;
  --fs-bodyMD: 16px;
  --fs-bodySM: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* Typography - fontWeight  */
.fw-light {
  font-weight: 400;
}
.fw-normal {
  font-weight: 500;
}
/* Typography - fontSize/lineHeight/letterSpacing  */
.display-xl {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.025em;
}
.display-lg {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.025em;
}
.display-md {
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.025em;
}
.display-sm {
  font-size: 30px;
  line-height: 40px;
}
.body-lg {
  font-size: 18px;
  line-height: 28px;
}
.body-md {
  font-size: 16px;
  line-height: 24px;
}
.nav-item a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.BrandLogo,
.badge-item .item {
  height: 35px;
}
/* Herosectin */
#Herosection .text-wrapper {
  padding-top: 40px;
}
.mockup-img img {
  max-height: 560px;
}
@media (min-width: 786px) {
  #Herosection .text-wrapper {
    padding-top: 64px;
  }
  .mockup-img img {
    max-height: 640px;
  }
}
@media (min-width: 992px) {
  #Herosection .text-wrapper {
    padding-top: 80px;
  }
}
