@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
:root {
  --primary-50: #f5f3ff;
  --primary-100: #ede9fe;
  --primary-300: #c4b5fd;
  --primary-600: #7c3aed;
  --primary-900: #4c1d95;
  --secondary-50: #ecfeff;
  --secondary-100: #d5fafc;
  --secondary-300: #75e3ea;
  --secondary-600: #1db5be;
  --secondary-900: #2a4e51;
  --neutral-50: #f9fafb;
  --neutral-100: #f3f4f6;
  --neutral-200: #e5e7eb;
  --neutral-300: #d1d5db;
  --neutral-400: #9ca3af;
  --neutral-500: #6b7280;
  --neutral-600: #4b5563;
  --neutral-700: #374151;
  --neutral-800: #1f2937;
  --neutral-900: #111827;
  --white: #ffffff;
  --black: #000000;
  /* font style  */
  --fs-displayXL: 60px;
  --fs-displayLG: 48px;
  --fs-displayMD: 36px;
  --fs-displaySM: 30px;
  --fs-bodyLG: 18px;
  --fs-bodyMD: 16px;
  --fs-bodySM: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* Typography - fontWeight  */
.fw-light {
  font-weight: 400;
}
.fw-normal {
  font-weight: 500;
}
/* Typography - fontSize/lineHeight/letterSpacing  */
.text-body h1 {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.025em;
}
.container-header .title {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.025em;
}
.content-item .title {
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.025em;
}
#Features .container-body .text .title {
  font-size: 30px;
  line-height: 40px;
}
.container-header p,
.text-body p {
  font-size: 18px;
  line-height: 28px;
}
.content-item .description {
  font-size: 16px;
  line-height: 24px;
}
.nav-item a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.BrandLogo,
.badge-item .item {
  height: 35px;
}
/* Herosectin */
#Herosection .text-wrapper {
  padding-top: 40px;
}
.mockup-img img {
  max-height: 560px;
}
@media (min-width: 786px) {
  #Herosection .text-wrapper {
    padding-top: 64px;
  }
  .mockup-img img {
    max-height: 640px;
  }
}
@media (min-width: 992px) {
  #Herosection .text-wrapper {
    padding-top: 80px;
  }
}

.ClientLogo img {
  max-height: 26px;
}
#Features .container,
#Pricing .container,
.section .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
#Features .container-header h1,
#Features .container-header p,
#Pricing .container-header h1,
#Pricing .container-header p {
  max-width: 800px;
}
.pricing-table {
  margin-bottom: 30px;
}

.pricing-table .inner-box {
  border: 1px solid #ecedf2;
  border-radius: 8px;
  transition: all 300ms ease;
}
.pricing-table .inner-box {
  padding: 40px 40px;
}
.pricing-table .inner-box:hover,
.pricing-table.tagged .inner-box {
  border: 1px solid #1967d2;
  box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
}

.pricing-table .tag {
  position: absolute;
  right: 30px;
  top: 30px;
  overflow: hidden;
  border-radius: 30px;
  font-size: 13px;
  line-height: 20px;
  color: #34a853;
  padding: 5px 25px;
}

.pricing-table .tag:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #34a853;
  opacity: 0.15;
  content: "";
  border-radius: 30px;
}

.pricing-table .title {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1967d2;
  margin-bottom: 10px;
}

.pricing-table .price {
  font-family: Sofia Pro;
  position: relative;
  display: flex;
  align-items: flex-end;
  font-size: 30px;
  line-height: 41px;
  color: #202124;
  font-weight: 500;
  margin-bottom: 50px;
  transition: all 300ms ease;
}

.pricing-table .duration {
  position: relative;
  font-size: 18px;
  line-height: 1em;
  color: #202124;
  font-weight: 400;
  bottom: 7px;
  margin-left: 7px;
}

.pricing-table .table-content {
  position: relative;
  margin-bottom: 60px;
}

.pricing-table .table-content ul {
  position: relative;
}

.pricing-table .table-content ul li {
  position: relative;
  font-size: 14px;
  line-height: 25px;
  color: #696969;
  font-weight: 400;
  margin-bottom: 20px;
  padding-left: 30px;
  list-style: none;
}
.pricing-table .table-content ul li i {
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
}
.pricing-table .table-footer {
  position: relative;
}

.pricing-table .table-footer a {
  position: relative;
  display: block;
  width: 100%;
}
.pricing-table .table-footer a {
  position: relative;
  display: block;
  width: 100%;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

.btn-style-three {
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: #1967d2;
  background-color: #e2eaf8;
  font-size: 15px;
  line-height: 20px;
  border-radius: 8px;
  font-weight: 400;
  padding: 18px 35px 15px 35px;
}
.btn-style-three:hover {
  color: #ffffff;
  background-color: #1967d2;
}
.theme-btn {
  position: relative;
  display: inline-flex;
  transition: all 0.5s ease;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
a {
  text-decoration: none;
  cursor: pointer;
}
